/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
*/

html {
  box-sizing: border-box;
  font-size: 18px;
  text-align: justify;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 8%;
}

article {

}

h1 {
  font-size: 25px;
  text-align: center;
}

h2 {
  font-size: 23px;
  text-align: center;
  margin: 30px 0;
}

img {
  max-width: 100%;
}

main {
 
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  margin: 0;
  margin-bottom: 10%;
}

figcaption {
  font-size: .8em;
}
