/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
*/

html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 8%;
}

article {

}

h1 {
  font-size: 25px;
}

h2 {

}

img {
  max-width: 100%;
}

main {

}

section {

}

figure {
  margin: 0;
  margin-bottom: 10%;
}

figcaption {
  font-size: .8em;
}
