* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}
header {
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  padding: 170px 0px 100px 200px;
}


h1, h2 {
  color: white;
  line-height: 50px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 1.5em;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 50px;
}
p {
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: justify;
}

#description {
  margin: 100px 0 200px 120px;
  width: 30%;
  text-align: justify;
}
#taxon {
  margin-top: 100px;
  margin-left: 120px;
  width: 30%;
}
#img01 {
  width: 900px;
  margin: -200px 5% 0 45%;
  position: absolute;
}
#img-rl {
  width: 1000px;
  position: absolute;
  margin: -370px 0 0 43%;
}
#img-rastro {
  float: right;
  width: 350px;
  margin: 20px 50px 0 50px;
}

.fundo_destaque {
  background-color: #4F4F4F;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.scientific {
  font-style: italic;
}
.text {
  text-align: justify;
  margin: 50px 100px 0px 100px;
}
.img-lg {
  float: right;
  float: inline-end;
  width: 600px;
  margin: 20px 50px 50px 50px;
}
.img-left {
  float: left;
  width: 600px;
  margin: 0 50px 50px 50px;
}
.section {
  padding-bottom: 50px;
}