body {
font-size: 16px;
}
h1 {
font-size: 65px;
color: orange;
font-family: sans-serif;
background-color: orange;
}
ul {
background-color: yellow;
font-style: italic;
line-height: 30px;
background-color: black;
}
p {
font-weight: 600;
font-size: 3em;
text-align: right;
text-decoration: overline;
background-color: black;
}
/* .back {
background-color: #d3d3d3;
} */