* {
  margin: 0;
}

header {
  margin: 0.5em;
}
select {
  width: 100px;
}

#title {
  margin-bottom: 3em;
}

main {
  margin: 5em 10em;
}

h1 {
  margin: 1em;
}

h3, h4 {
  margin-bottom: 1em;
}

h4 {
  margin-top: 2em;
}

p {
  text-align: justify;
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
}

.center {
  text-align: center;
}

/* theme: clear */

body .clear {
  background-color: white;
  color: black;
}
select .clear {
  background-color: white;
  color: black;
}

/* theme: dark */

body .dark {
  background-color: black;
  color: white;
}
select .dark {
  background-color: black;
  color: white;
}

/* font size: small */

h1 .font-s {
  font-size: 39px;
}
h2 .font-s {
  font-size: 29px;
}
h3, p .font-s {
  font-size: 20px;
}
h4 .font-s {
  font-size: 24px;
}

/* font size: medium */

h1 .font-m {
  font-size: 35px;
}
h2 .font-m {
  font-size: 25px;
}
h3, p .font-m {
  font-size: 16px;
}
h4 .font-m {
  font-size: 20px;
}

/* font size: large */

h1 .font-l {
  font-size: 31px;
}
h2 .font-l {
  font-size: 21px;
}
h3, p .font-l {
  font-size: 12px;
}
h4 .font-l {
  font-size: 16px;
}

/* line height: small */

h2 .height-s {
  line-height: 1em;
}
p .height-s {
  line-height: 1em;
}

/* line height: medium */

h2 .height-m {
  line-height: 1.3em;
}
p .height-m {
  line-height: 1.3em;
}

/* line height: large */

h2 .height-l {
  line-height: 1.5em;
}
p .height-l {
  line-height: 1.5em;
}

/* font: newspaper */

* #newspaper {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* font: modern */

* #modern {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
