* {
  margin: 0;
}
header {
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  padding: 170px 0px 100px 200px;
}

h1, h2 {
  color: white;
  line-height: 50px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 30px;
}

#img_title {
  
}
.fundo_destaque {
  background-color: #D3D3D3;
}
.scientific {
  font-style: italic;
}
